@import url("https://fonts.googleapis.com/css2?family=Asap:wght@400;500;600&family=Noto+Sans+Thai:wght@300;400;600&display=swap");

body {
  background-color: black;
  color: white;
  font-family: "Noto Sans Thai";
  margin: 5vw;
}
a {
  text-decoration: underline;
  color: azure;
  font-family: "Asap";
  font-size: larger;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav ul li {
  list-style: none;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  margin-top: 10%;
}

h2,
h3 {
  font-family: "Asap";
}

#intro {
  background-color: black;
  background-image: url(/img/planetarium.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 0;
  padding: 1rem;
  padding-bottom: 20rem;
  outline: 5px solid white;
}

@media all and (min-width: 1000px) {
  nav ul {
    display: flex;
    justify-content: space-between;
    max-width: 30%;
    margin-bottom: 2%;
  }
}
#intro {
  background-position: right;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10rem;
  /* align-content: end; */
  /* justify-content: end; */
}
h1 {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: flex-start;
  margin-left: 0%;
  padding-top: 40%;
}
#contact a {
  text-align: center;
  color: aliceblue;
}
